*.swp
*.bkp
*.o
*.aux
*.dvi
*.lof
*.log
*.lot
*.toc
*.tmp.*
*.mtree
*.pyc
clean.sh
metro_cpp.*
output/*
timing*.txt
mcpp_*
output.txt
test_settings.txt
MetroCPP
bin/MetroCPP
bin/test
test
python/mtreelib/__pycache__/*.pyc
old_code/*.cpp
old_code/*.h
output/*.dat
mpirun
*.tmp
*.swo
*.out
config/fullbox_laptop.cfg
config/fullbox_leibniz.cfg
config/fullbox_neruda.cfg
config/zoom_test.cfg

