################################################
#  Config file with parameters for METROC++    #
#  	  Edoardo Carlesi 2018		       #
################################################

# Cosmology [Deprecated]
#cosmologicalModel = WMAP7
cosmologicalModel = Planck

# Installation path
pathMetroCpp = /home/eduardo/CLUES/MetroCPP/

# Main folder where the halos and particles catalogs are stored
pathInput = /home/eduardo/CLUES/arepo/AREPO/GAS_SIMPLE/1024/37_11/SUBPATH/

# Box size (units have to be the same as those of the halo catalogs)
boxSize	= 100000.0

# If catalogs at each step are split into several chunks, then let each task read nChunks parts
nChunks = 1

# Number of snapshots to be used to compute the merger trees (the program reads the full list of files available automatically,
# but then uses only the first nSnapsUse ones)
nSnapsUse = 55

# Do not track orphan halos below this particle limit
minPartHalo = 30

# Do not link halos that share less than this number of particles
minPartCmp = 10

# Factor used to compute for how many steps we should track an orphan halo nSteps = (nPartHalo / facOrphanHalo) + 1
facOrphanSteps = 50

# Size (arbitrary) of the grid where halos are allocated, boxSize (in Mpc) / nGrid should be somewhere between > 1 Mpc and < 5 Mpc
# One cell corresponds to the size of the buffer region communicated across the different tasks
nGrid = 32

# For AHF catalogs it is assumed a structure of the form:
# PREFIX_SNAPSHOTNUMBER.CPUNUMBER.zREDSHIFT.SUFFIX
#			OR
# If running in the ZOOM mode then the AHF catalogs should have the form:
# PREFIX_SNAPSHOTNUMBER.zREDSHIFT.SUFFIX
# as the AHF should be run on one task only for zoom simulations

# AHF files 'cpu' string. It is just '.' if the program was run in OpenMP / serial version
cpuString = '.' 

# This is usually the case for MPI AHF output files
#cpuString = '.0000.' 	

# Sometimes the files can be denominated in an ambiguous way, to locate them correctly it can be more useful to define _XXX or XXX.z
splitString = '_'
#splitString = '.z'


# Only AHF is compatible, for the moment
inputFormat = AHF

# File suffixes
haloSuffix = AHF_halos
partSuffix = AHF_particles

# File prefixes
haloPrefix = snapshot_
partPrefix = snapshot_

# Output properties
pathOutput = /home/eduardo/CLUES/MetroCPP/output/37_11/SUBPATH/
outPrefix = out_
outSuffix = mtree

# Where to look for the trees
pathTree = pathOutput

# This is equal to the number of MPI tasks used when computing the trees
nTreeChunks = 1
