################################################
#  Config file with parameters for METROC++    #
#  	  Edoardo Carlesi 2018		       #
################################################

# Operational mode of the code: 
# 	0 = do the merger trees only
#	1 = read the merger trees from the treePath and do the post processing (= smoothing and interpolating for missing halos)
#	2 = compute the merger trees and then do the post processing
runMode = 0

# Cosmology
#cosmologicalModel = WMAP7
cosmologicalModel = Planck

# Installation path
pathMetroCpp = /z/carlesi/CLUES/MetroC++/

# Main folder where the halos and particles catalogs are stored
pathInput = /z/carlesi/STORE/LGF/catalogs/AHF/HESTIARUN/

# Box size (units have to be the same as those of the halo catalogs)
boxSize	= 100000.0

# If catalogs at each step are split into several chunks, then let each task read nChunks parts
nChunks = 1

# Number of snapshots to be used to compute the merger trees (the program reads the full list of files available automatically,
# but then uses only the first nSnapsUse ones)
nSnapsUse = 128

# Do not track orphan halos below this particle limit
minPartHalo = 30

# Do not link halos that share less than this number of particles
minPartCmp = 10

# Factor used to compute for how many steps we should track an orphan halo nSteps = (nPartHalo / facOrphanHalo) + 1
facOrphanSteps = 15

# Size (arbitrary) of the grid where halos are allocated, boxSize (in Mpc) / nGrid should be somewhere between > 1 Mpc and < 5 Mpc
# One cell corresponds to the size of the buffer region communicated across the different tasks
nGrid = 64

# For AHF catalogs it is assumed a structure of the form:
# PREFIX_SNAPSHOTNUMBER.CPUNUMBER.zREDSHIFT.SUFFIX
#			OR
# If running in the ZOOM mode then the AHF catalogs should have the form:
# PREFIX_SNAPSHOTNUMBER.zREDSHIFT.SUFFIX
# as the AHF should be run on one task only for zoom simulations

# Only AHF is compatible, for the moment
inputFormat = AHF

# File suffixes
haloSuffix = AHF_halos
partSuffix = AHF_particles

# File prefixes
haloPrefix = snapshot_
partPrefix = snapshot_

# Output properties
pathOutput = /z/carlesi/STORE/LGF/trees/metrocpp/HESTIARUN/
outPrefix = lgf_HESTIARUN_
outSuffix = mtree

# Where to look for the trees
pathTree = pathOutput

# This is equal to the number of MPI tasks used when computing the trees
nTreeChunks = 1
