			################################################
			#      Configuiration file for METROC++        #
			#  	  Edoardo Carlesi 2018-2019	       #
			#	      ecarlesi@aip.de	               #
			################################################


	#################################################################################
	#			INPUT FILE SETTINGS					#
	#										#
	#     For AHF catalogs it is assumed a structure of the form:			#
	#      	  PREFIX_SNAPSHOTNUMBER.CPUNUMBER.zREDSHIFT.SUFFIX			#
	#			OR							#
	# 	        PREFIX_SNAPSHOTNUMBER.zREDSHIFT.SUFFIX				#
	#   if AHF was not run in MPI mode, e.g. for zoom simulations			#
	#										#
	#################################################################################

# Only AHF is compatible, for the moment
#inputFormat = RockStar
inputFormat = AHF

# File suffixes for halo and particle lists
haloSuffix = AHF_halos
partSuffix = AHF_particles

# File prefixes, for halo and particle lists
haloPrefix = snapshot_
partPrefix = snapshot_

# Installation path
pathMetroCpp = /home/eduardo/CLUES/MetroCPP/

# Main folder where the halos and particles catalogs are stored
pathInput = /home/eduardo/CLUES/arepo/AREPO/FullBoxAHF/03/

# Box size (units have to be the same as those of the halo catalogs, kpc/h or Mpc/h etc.)
boxSize	= 100000.0

# If catalogs at each step are split into several parts, each task will read nChunks/nTasks pieces of it
nChunks = 120

# Number of snapshots to be used to compute the merger trees 
# The program reads the full list of files available automatically, but then uses only the first nSnapsUse ones
nSnapsUse = 55

# Size of the grid where halos are allocated, choose it in order for boxSize (in Mpc) / nGrid to be [2-3] Mpc/h
# One cell corresponds to the size of the buffer region communicated across the different tasks
# This option is irrelevant when running in zoom mode
nGrid = 50

# Output properties
pathOutput = /home/eduardo/CLUES/MetroCPP/output/03/
outPrefix = fb_03_
outSuffix = mtree


	##############################################################
	# The following options are already set to an optimal value  #
	# and do not usually require to be changed.		     #
	##############################################################

# If a halo is orphan, do not track it if it is composed by a number of particles below this limit
minPartHalo = 50

# Do not link halos that share less than this number of particles
minPartCmp = 10

# Factor used to compute for how many steps we should track an orphan halo = (nPartHalo / facOrphanHalo)
facOrphanSteps = 100


	##############################################################
	# The following settings are not yet relevant at this        #
	# point, as mode 1 & 2 of the code are not fully implemented #
	##############################################################

# Operational mode of the code: 
# 	0 = do the merger trees only
#	1 = read the merger trees from the treePath and do the post processing (= smoothing and interpolating for missing halos)
#	2 = compute the merger trees and then do the post processing
runMode = 0

# Cosmology	[Relevant for mode 1 and 2 only]
#cosmologicalModel = WMAP7
cosmologicalModel = Planck

# Where to look for the trees [When re-reading them in, in mode 1 and 2]
pathTree = pathOutput

# This is equal to the number of MPI tasks used when computing the trees [mode 1 & 2]
nTreeChunks = 1
